<% provide(:title, "#{@service.name}") %>

<div class="jumbotron text-center">
    <h2><%= "#{@service.name}'s Queue" %></h2>
</div>

<div class="text-center">
<h3>
    Current Ticket : 2005
</h3>
<br>
<h3>
    Your Ticket : 2010
</h3>
<h3>Current Time : 2.30pm</h3>
<h3>Estimated Time To Your Turn ~ 20 minutes : 2.50pm</h3>
<br />
<%= link_to "Order Ticket", '#', class: 'btn btn-success btn-lg' %>
</div>
<%= link_to "Back to Services", office_branch_services_path, class: 'btn btn-primary' %>
