<% provide(:title, "#{@service.name}") %>

<div class="jumbotron text-center">
    <p><%= "#{@service.name}'s Queue" %></p>
</div>

<div class="text-center">
<h2>
    Current Ticket : 2005
</h2>
<br>
<h2>
    Your Ticket : 2010
</h2>

<%= link_to "Buy a Ticket", '#', class: 'btn btn-success' %>
</div>
