<% provide(:title, "#{@service.name}") %>

<div class="jumbotron text-center">
    <p><%= "#{@service.name}'s Queue" %></p>
</div>

<h2>
    Current Ticket : 2005
</h2>
<br>
<h2>
    Your Ticket : 2010
</h2>
