<% provide(:title, "#{@service.name}") %>

<div class="jumbotron text-center">
    <p><%= "#{@service.name}'s Queue" %></p>
</div>

<div class="text-center">
<h2>
    Current Serving Number : 2005
</h2>
<br>
<h2>
    Current Ticket : 2010
</h2>

<!-- <a href="#" class="btn btn-success">Buy a Ticket</a>
</ul> -->

<%= form_for @order do |f| %>
  <%= f.hidden_field :total, value: 1.00 %>
  <%= f.submit 'Checkout' %>
  <% end %>
