<% provide(:title, "About") %>

<div class="about">
  <div class="about-pic">
    <div class="content">
      <h1 style="color: white; opacity: 0.7; font-size: 50px">  </h1>
    </div>
  </div>

  <section class="meow text-center">
     <h1 style="color: #10999E; font-size: 21px">FASTQ AS NEXT GENERATION SOLUTION</h1>

  </section>
  <section class="about page" id="ABOUT">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!-- ABOUT US SECTION TITLE-->
                <div class="section_title">
                    <h2>About Us</h2>
                    <p>FastQ is a queue management system and a customer service.</p>
                    We replace take-a-number systems and sign up sheet with tech based solution to eliminate line up by number.
                </div>
            </div>

        </div>
    </div>
    <div class="inner_about_area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                    <!-- PHONE -->
                        <img src="images/about_iphone.png" alt="">
                    </div>
                </div>
                <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                    <!-- TITLE -->
                    <div class="inner_about_title">
                        <h2>Why we are best <br> for you</h2>
                        <p>The most important resource is time.

                        We save time by solving a fundamental and global human problem:
                        waiting in line.

                        Our patented technology eliminates lines with "virtual queues."

                        FastQ is transforming the way the world waits in line. Every day we wait at retail businesses, healthcare clinics, educational institutions, and government agencies depend on FastQ to manage their customer flow.</p>
                    </div>
                    <div class="inner_about_desc">

                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                            <!-- ICON -->
                            <div><i class="pe-7s-timer"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <p>Cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit.</p>
                        </div>
                        <!-- END SINGLE DESC -->


                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                            <!-- ICON -->
                            <div><i class="pe-7s-target"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <p>Cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit.</p>
                        </div>
                        <!-- END SINGLE DESC -->


                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="2s">
                            <!-- ICON -->
                            <div><i class="pe-7s-stopwatch"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <p>Cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit.</p>
                        </div>
                        <!-- END SINGLE DESC -->

                    </div>
                </div>
            </div>
        </div>
    </div>

  <section class="contact page" id="CONTACT">
        <div class="section_overlay">
            <div class="container">
                <div class="col-md-10 col-md-offset-1 wow bounceIn">
                    <!-- Start Contact Section Title-->
                    <div class="section_title">
                        <h2>Get in touch</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    </div>
                </div>
            </div>

            <div class="contact_form wow bounceIn">
                <div class="container">

                <!-- START ERROR AND SUCCESS MESSAGE -->
                    <div class="form_error text-center">
                        <div class="name_error hide error">Please Enter your name</div>
                        <div class="email_error hide error">Please Enter your Email</div>
                        <div class="email_val_error hide error">Please Enter a Valid Email Address</div>
                        <div class="message_error hide error">Please Enter Your Message</div>
                    </div>
                    <div class="Sucess"></div>
                <!-- END ERROR AND SUCCESS MESSAGE -->

                <!-- FORM -->
                    <form role="form">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="name" placeholder="Name">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                                <input type="text" class="form-control" id="subject" placeholder="Subject">
                            </div>


                            <div class="col-md-8">
                                <textarea class="form-control" id="message" rows="25" cols="10" placeholder="  Message Texts..."></textarea>
                                <button type="button" class="btn btn-default submit-btn form_submit">SEND MESSAGE</button>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM -->
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow bounceInLeft">
                        <div class="social_icons">
                            <ul>
                                <li><a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-dribbble"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-behance"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-youtube-play"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END CONTACT -->



</div>
