<% provide(:title, 'Login') %>

<div class="login">
  <div class="page-container">
    <h1 class="text-center">Login</h1>
    <div>
      <div>
        <%= form_for(:user, url: sessions_path, html: { id: "user-login-form" } ) do |f| %>
        <%= f.email_field :email, class: 'username', placeholder: "Username" %>
        <%= f.password_field :password, class: 'password', placeholder: "Password" %>
        <br>
        <div class="button">
          <%= f.submit "Login", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
