.about{

  .about-pic {
    background-image: asset-url("Waiting-room.jpg");
    height: calc(90vh - 52px);
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inner_about_area {
      padding-top: 50px;
  }
  .inner_about_title {
      padding-bottom: 50px;
  }
  .inner_about_title h2 {
      text-transform: uppercase;
      font-weight: 800;
      font-size: 30px;
      line-height: 37px;
      position: relative;
  }
  .inner_about_title h2:after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;
      width: 70px;
      background: #f39c12;
      height: 1px;
  }
  .inner_about_title p {
      font-size: 19px;
      line-height: 24px;
      margin-top: 40px;
  }
  .inner_about_desc {} .single_about_area {
      position: relative;
      padding-bottom: 4px;
      padding-left: 80px;
  }
  .single_about_area div {
      position: absolute;
      top: 0px;
      left: 0px;
  }
  .single_about_area div i {
      font-size: 55px;
      color: #BABABA;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
  }
  .single_about_area h3 {
      color: #343434;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 800;
  }
  .single_about_area p {
      color: #727272;
      font-size: 15px;
  }
  .single_about_area:hover div i {
      color: #f39c12;
  }
  .about_phone img {} @media (min-width: 991px) and (max-width: 1200px) {
      .about_phone img {
          margin-top: 184px;
          width: 80%;
          margin-right: 20%
      }
  }

  .team_area {
    padding-top: 0;
  }
  .team_title p{
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 26px;
  	color:#7f7f7f;
  	text-align:center;
  }
  .team_text {
    margin-top: 8%;
    overflow: hidden;
  }

  .team_single_text {
  border-top: 1px solid #e5e5e5;
  padding: 32px 25px 0px;
  text-align: center;
  transition: all 0.3s ease 0s;
  position: relative;
  bottom: 0;
  margin-bottom:40px;
  }
  .span_first {
    font-weight: 600;
  }
  .team_single_text span {
    font-size: 11px;
    letter-spacing: 1px;
  }
  .bg-yellow.team_yellow {
    margin: 25px auto;
  }
  .team_icon i {
    font-size: 20px;
    margin: 15px 15px 25px;
    color: #E6AF2A;
    transition: all 0.3s ease 0s;
  }
  .team_icon  a:hover,.social_icon i :hover {
    opacity: 0.5;
  }
  .team_text:hover.team_text img {
    transform: scale(1.1);
    opacity:.5;
  }
  .team_text:hover .team_single_text {
    background: #fff none repeat scroll 0 0;
    bottom: 110px;
  }
  .team_single_text > p {
      opacity: 0;
  }
  .team_text:hover .team_single_text > p {
      opacity: 1;
  }


 .contact {
     background: #f1f1f1;
     background-repeat: no-repeat;
     background-size: cover;
 }
 .contact_form {
     padding-top: 30px;
 }
 .contact_form .form-control {
     display: block;
     display: block;
     width: 100%;
     height: 50px;
     padding: 6px 12px;
     font-size: 14px;
     line-height: 1.42857143;
     color: #555;
     background-color: transparent;
     border: 1px solid #aeaeae;
     background-image: none;
     border-radius: 3px;
     margin-bottom: 15px;
     opacity: .8;
      -webkit-transition: all 1s;
     -moz-transition: all 1s;
     -o-transition: all 1s;
     transition: all 1s;
     outline: 0px !important;

 }
 .contact_form .form-control:focus {
     border: 1px solid #f39c12;
     border-color: #f39c12;
     outline: 0px none;
     box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px rgba(102, 175, 233, 0.6);
 }
 .contact_form {} .form-control:-webkit-input-placeholder {
     color: red;
 }
 .form-control:-moz-placeholder {
     /* Firefox 18- */

     color: red;
 }
 .form-control:-moz-placeholder {
     /* Firefox 19+ */

     color: red;
 }
 .form-control:-ms-input-placeholder {
     color: red;
 }
 .submit-btn,
 .submit-btn:active,
 .submit-btn:focus,
 .submit-btn:visited {
     background-color: transparent;
     border: 1px solid #f39c12;
     border-radius: 4px;
     width: 100%;
     height: 50px;
     text-transform: uppercase;
     font-size: 18px;
     color: #f39c12;
     -webkit-transition: all 1s;
     -moz-transition: all 1s;
     -o-transition: all 1s;
     transition: all 1s;
     outline: 0px !important;
 }
 .submit-btn:hover {
     background-color: #f39c12;
     color: #fff;
     border-color: #f39c12;
 }
 .social_icons {
     padding-top: 50px;
     padding-bottom: 70px;
 }
 .social_icons ul {
     margin: 0;
     padding: 0;
     text-align: center;
 }
 .social_icons ul li {
     list-style: none;
     display: inline;
     padding-left: 10px
 }
 .social_icons ul li a {
     text-decoration: none;
     display: inline-block;
     text-align: center;
     border: 1px solid #9d9d9d;
     border-radius: 3px;
     width: 45px;
     height: 45px;
     line-height: 49px;
     color: #9d9d9d;
     -webkit-transition: all 1s;
     -moz-transition: all 1s;
     -o-transition: all 1s;
     transition: all 1s;
 }
 .social_icons ul li a i {
     font-size: 20px;
 }
 .social_icons ul li a:hover {
     background: #f39c12;
     border: 1px solid #f39c12;
     color: #fff
 }
 .error {
     color: #f39c12;
     display: block;
     padding-bottom: 15px;
     font-size: 18px
 }
 .error i {
     padding-right: 10px;
     font-size: 18px
 }
 .Sucess {
     color: #4DB849;
     display: block;
     padding-bottom: 15px;
     font-size: 18px;
     text-align: center;
 }
 .Sucess i {
     padding-right: 10px;
     font-size: 18px;
     color: #4DB849
 }
 .contact_form .form-control {
     color: #3d3d3d;
 }
 #message {
     height: 117px;
     resize: none;
 }

}
