footer {

  // background: rgb(37, 37, 37) none repeat scroll 0 0;
  // padding: 15px 0;
  //
  // .contact_section_padding{padding:50px 0;}
  //
  // .bottom_icon i{font-size:25px;}
  // .contact-icon{
  // background: #f4f4f4 none repeat scroll 0 0;
  // }
  // .social_icon i {
  // color: #DFA92D;
  // font-size: 22px;
  // margin: 0 25px;
  // }
  // .social_icon i:hover {
  // opacity:.5;
  // }
  //
  // }
  // .footer_copyright img {
  //   max-width: 100px;
  //   float: right;
  // }
  // .footer_copyright p {
  //   float: left;
  //   margin: 0;
  //   padding-top: 10px;
  // }
  //   /*ScrollUp*/
  //   #scrollUp {
  //     background-color: #252525;
  //     padding: 5px 8px;
  //     right: 45px;
  //     text-align: center;
  //     text-decoration: none;
  //     top: 85%;
  //   }
  //   #scrollUp:hover{
  //     opacity:.6;
  //   }
  //   .scrollToTop i {
  //     color: #fff;
  //     font-size: 18px;
  //     margin: 0 6px;
  //   }
  // }
  //

//old>>>>>>

  padding-top: 4px;
  margin-bottom: 60px;
  color: #3c4753;
  font-size: 13px;
  line-height: 24px;
  position: relative;
  background: #d9edf7;

  .info {
    padding-right: 90px;
    margin: 10px;
    text-align: center;
  }

  .features {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 20px;
  }

  .feature{
    flex: 0 0 30%;
    flex-wrap: wrap;
    margin: 10px;
  }

  .copyright {
    margin: 60px;
    padding: 0 18px;
    clear: both;
    text-align: center;
  }

  a:visited { color: #0A6567; }
  a:focus { color: #fff; }

  @media all and (max-width: 1199px){
    .features{
      max-width: 600px;
    }
    .image{
      flex: 0 0 50%;
    }
  }
  @media all and (max-width: 600px){
    .image{
      flex: 0 0 100%;
    }
  }

}

// footer .right-cols .columns p { margin-bottom: 6px; }

footer h3 {
  font: 13px/24px 'opensans-semibold', sans-serif;
  margin-bottom: 0;
  font-weight: normal;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
}
footer h3:before {
  font-family: 'FontAwesome';
  margin: 0 0 6px 3px;
  font-size: 30px;
  line-height: 48px;
  text-align: left;
  color: #738291;
  display: block;
}
footer h3.address:before { content: "\f041"; }
footer h3.social:before { content: "\f0c0"; }
footer h3.contact:before { content: "\f0e0"; }

footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  margin: 0;
  line-height: 24px;
}

footer ul li a:visited { color: #3c4753; }
footer ul li a:hover,
footer ul li a:focus { color: #fff; }

//
// /* Go To Top Button */
// #go-top {
//   position: absolute;
//   top: 24px;
//   left: 50%;
//   margin-left: -30px;
//   text-align: center;
//   z-index: 889;
// }
// #go-top a {
//   text-decoration: none;
//   border: 0 none;
//   display: block;
//   width: 60px;
//   height: 60px;
//   background: #525252;
//
//   -webkit-transition: all 0.2s ease-in-out;
//   -moz-transition: all 0.2s ease-in-out;
//   -o-transition: all 0.2s ease-in-out;
//   -ms-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
//
//   color: #fff;
//   font-size: 21px;
//   line-height: 60px;
//   border-radius: 100%;
// }
// #go-top a:hover { background: #0F9095; }
