
.landing{
  .background {
    background-image: asset-url("waiting-chair.jpg");
    height: calc(100vh - 52px);
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-class {
    width: 60px;
    height: 60px;
  }

  .search-bar {
    width: 230px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: 0.4s ease-in-out;
    &:focus {
      background-color: white;

      width: 80%;
    }
  }

    .services{
      background-color: white;
      height: 35vh;
      width: 100%;
      background-position: 50% 90%;
      background-: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    .services-container{
      flex: 1 0 25%;
      align-items: center;
      justify-content: center;

    }

    /* ------------------------------------------------------------------ */
    /* d. Features Section
    /* ------------------------------------------------------------------ */

    #features {
       background: #fff;
       padding-top: 96px;
       padding-bottom: 78px;
       overflow: hidden;
    }
    #features .feature {
       margin-top: 30px;
       margin-bottom: 54px;
    }
    #features .right {
       padding-left: 32px;
       float: right;
    }
    #features .left {
       padding-right: 32px;
       float: left;
    }
    #features h3 {
       font: 16px/24px 'montserrat-bold', sans-serif;
       text-transform: uppercase;
       letter-spacing: 1px;
       color: #222;
    }
    .fluid-video-wrapper { margin-top: 18px; }


    /*---------------------------------------
       SECTION CALL TO ACTION
    -----------------------------------------*/

    .call_to_action {
        background-color: #0d485e;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .call_to_action p {
        color: #dfdfdf;
        font-size: 18px;
        font-weight: 300;
    }
    .call_to_action a {} .btn-action,
    .btn-action:active,
    .btn-action:focus,
    .btn-action:visited {
        background: #f39c12;
        border: 1px solid #f39c12;
        color: #fff;
        border-radius: 3px;
        padding: 15px 35px;
        text-transform: uppercase;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
    .btn-action:hover {
        background: #FF6B80;
        border-color: #FF6B80;
    }

    /*---------------------------------------
       SECTION APPS SCREEN
    -----------------------------------------*/


    .how-it-works {
      background-color: #0d485e;
      height: 75vh;
      width: 100%;
      background-position: 50% 90%;
      background-: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .features-container {
      margin: 50px 0;
    }

    .feature-title {
      color: white;
    }

    .features {
      display: flex;
      // flex-wrap: wrap;
      max-width: 1200px;
      margin: 20px auto;
      justify-content: center;
    }

    .feature {
      flex: 1 0 30%;
      justify-content: center;
      align-items: center;
    }

    .app {
      height: 75vh;
      width: 100%;
      background-position: 50% 90%;
      background-: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .app-feature {
      flex: 1 0 30%;
      justify-content: center;
      align-items: center;
    }

    .client {
      background-color: #f39c12;
      height: 20vh;
      width: 100%;
      background-position: 50% 90%;
      background-: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .sitemap {
      background-color: #CFCFCF;
      height: 75vh;
      width: 100%;
      background-position: 50% 90%;
      background-: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }



  h1 {
    font-size: 30px;
    color: #10999E;
  }

  h2 {
    font-size: 21px;
  }

  h3 {
    font-size: 16px;
  }

  hr {
    max-width: 50px;
    border-color: #CFCFCF;
    border-width: 3px;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
  }



  .short-underline {
    width: 50px;
    border-bottom: 2px solid orange;
  }





  .light-red {
    color: #CFCFCF;
  }

  .image-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .column-1 {
    flex: 0 0 25%;
    position: relative;
  }

  .column-1:hover .invisible-layout {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }

  .invisible-layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #CFCFCF;
    opacity: 0.5;
  }

  .img-lock {
    width: 100%;
    height: 300px;
  }

  .contact {
    padding: 100px 0;
    max-width: 750px;
    margin: auto;
    text-align: center;
  }

  .contact-title {
    color: #CFCFCF;
  }

  .contact-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
  }

  .contact-icon {
    flex: 0 0 280px;
    margin: 20px 10px;
    justify-content: center;
    align-items: center;
  }

  @media all and (max-width: 1199px) {
    .features {
      max-width: 600px;
    }
    .services{
      max-width: 100%;
    }

    .image-box {
      justify-content: center;
    }

    .column-1 {
      flex: 0 0 50%;
    }
  }

  @media all and (max-width: 500px) {
    .column-1 {
      flex: 0 0 100%;
    }
  }

}

.subscribe {
    background-image: asset-url("home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.subscribe .section_overlay {
    padding-bottom: 70px;
    background: transparent
}
.subscribe .section_title h2{
	color: #eaeaea;
}
.subscribe .section_title p{
	color: #a4a4a4;
}
.subscribe_form {
    text-align: center;
    padding-top: 30px;
}
.subscribe_form .form-group {} .subscribe_form .form-control {
    background: transparent;
    border: 1px solid #575b63;
    border-radius: 0px;
    height: 45px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    color: #aeaeae;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.subscribe_form .form-control:focus {
    background: transparent;
    border-bottom: 1px solid #f1f1f1;
    box-shadow: none;
}
.subs-btn,
.subs-btn:active,
.subs-btn:focus,
.subs-btn:visited {
    width: 200px;
    background: transparent;
    border: 1px solid #f39c12;
    border-radius: 4px;
    height: 45px;
    margin-left: 0px;
    margin-bottom: 1px;
    color: #f39c12;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    // -o-transition: all 1s;
    transition: all 1s;
    outline: 0px !important;
}
.subs-btn:hover {
    background-color: #f39c12;
    color: #fff;
    border-color: #f39c12;
}
@media (min-width: 300px) {
    .subscribe_form .form-control {
        width: 100%
    }
}
.subscription-success {
    color: #fff;
    text-align: center;
    font-size: 20px;
}
.subscription-error {
    color: #fff;
    text-align: center;
    font-size: 20px;
}

//testimonial
#owl-demo .item {
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 50px;
}
#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}
.testimonial {
    background: asset-url("testimonial.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.testimonial .section_overlay {
    background: rgba(0, 0, 0, .6);
    padding-top: 80px;
    padding-bottom: 80px;
}
.carousel-indicators {
    bottom: -8px;
}
div.carousel-inner .item img {
    border: 2px solid #f39c12;
    border-radius: 50%;
    padding: 3px;
}
.testimonial_caption {
    padding-bottom: 70px;
}
.testimonial_caption p {
    color: #D8D8D8;
    font-size: 18px;
    line-height: 27px;
    padding-top: 50px;
}
.testimonial_caption h2 {
    color: #f39c12;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    margin-top: 25px;
}
.testimonial_caption h4 {
    color: #f39c12
}
.testimonial_caption h4 span {
    color: #D8D8D8;
    font-style: italic;
    font-weight: 300;
}
.testimonial ol.carousel-indicators li {
    width: 12px;
    height: 12px;
    border: 1px solid #f39c12;
    margin: 1PX
}
.testimonial ol.carousel-indicators li.active {
    width: 12px;
    height: 12px;
    border: 0px solid #f39c12;
    background: #f39c12;
}
