
.landing{
  .background {
    background-image: asset-url("waiting-chair.jpg");
    height: calc(100vh - 52px);
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .search-bar {
    width: 230px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: 0.4s ease-in-out;
    &:focus {
      background-color: white;

      width: 80%;
    }
  }

    .services{
      background-color: white;
      height: 20vh;
      width: 100%;
      background-position: 50% 90%;
      background-: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    .services-container{
      flex: 1 0 25%;
      align-items: center;
      justify-content: center;

    }

    .how-it-works {
      background-color: #10999E;
      height: 75vh;
      width: 100%;
      background-position: 50% 90%;
      background-: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .features-container {
      margin: 50px 0;
    }

    .feature-title {
      color: white;
    }

    .features {
      display: flex;
      // flex-wrap: wrap;
      max-width: 1200px;
      margin: 20px auto;
      justify-content: center;
    }

    .feature {
      flex: 1 0 30%;
      justify-content: center;
      align-items: center;
    }

    .app {
      height: 75vh;
      width: 100%;
      background-position: 50% 90%;
      background-: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .app-feature {
      flex: 1 0 30%;
      justify-content: center;
      align-items: center;
    }

    .client {
      background-color: #10999E;
      height: 20vh;
      width: 100%;
      background-position: 50% 90%;
      background-: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .sitemap {
      background-color: #CFCFCF;
      height: 75vh;
      width: 100%;
      background-position: 50% 90%;
      background-: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .footer {
      background-color: black;
      height: 5vh;
      width: 100%;
      background-position: 50% 90%;
      background-: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }


  h1 {
    font-size: 30px;
    color: #10999E;
  }

  h2 {
    font-size: 21px;
  }

  h3 {
    font-size: 16px;
  }

  hr {
    max-width: 50px;
    border-color: #CFCFCF;
    border-width: 3px;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
  }



  .short-underline {
    width: 50px;
    border-bottom: 2px solid orange;
  }





  .light-red {
    color: #CFCFCF;
  }

  .image-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .column-1 {
    flex: 0 0 25%;
    position: relative;
  }

  .column-1:hover .invisible-layout {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }

  .invisible-layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #CFCFCF;
    opacity: 0.5;
  }

  .img-lock {
    width: 100%;
    height: 300px;
  }

  .contact {
    padding: 100px 0;
    max-width: 750px;
    margin: auto;
    text-align: center;
  }

  .contact-title {
    color: #CFCFCF;
  }

  .contact-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
  }

  .contact-icon {
    flex: 0 0 280px;
    margin: 20px 10px;
    justify-content: center;
    align-items: center;
  }

  @media all and (max-width: 1199px) {
    .features {
      max-width: 600px;
    }
    .services{
      max-width: 100%;
    }

    .image-box {
      justify-content: center;
    }

    .column-1 {
      flex: 0 0 50%;
    }
  }

  @media all and (max-width: 500px) {
    .column-1 {
      flex: 0 0 100%;
    }
  }

}

.subscribe {
    background-image: asset-url("home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.subscribe .section_overlay {
    padding-bottom: 70px;
    background: transparent
}
.subscribe .section_title h2{
	color: #eaeaea;
}
.subscribe .section_title p{
	color: #a4a4a4;
}
.subscribe_form {
    text-align: center;
    padding-top: 30px;
}
.subscribe_form .form-group {} .subscribe_form .form-control {
    background: transparent;
    border: 1px solid #575b63;
    border-radius: 0px;
    height: 45px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    color: #aeaeae;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.subscribe_form .form-control:focus {
    background: transparent;
    border-bottom: 1px solid #f1f1f1;
    box-shadow: none;
}
.subs-btn,
.subs-btn:active,
.subs-btn:focus,
.subs-btn:visited {
    width: 200px;
    background: transparent;
    border: 1px solid #f39c12;
    border-radius: 4px;
    height: 45px;
    margin-left: 0px;
    margin-bottom: 1px;
    color: #f39c12;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    outline: 0px !important;
}
.subs-btn:hover {
    background-color: #f39c12;
    color: #fff;
    border-color: #f39c12;
}
@media (min-width: 300px) {
    .subscribe_form .form-control {
        width: 100%
    }
}
.subscription-success {
    color: #fff;
    text-align: center;
    font-size: 20px;
}
.subscription-error {
    color: #fff;
    text-align: center;
    font-size: 20px;
}
