.office{

  .h2{
    font-size: 12px !important;
  }
  .col-text-center{
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
  }
  .row-margin-bottom {
    margin-bottom: 20%;
  }
  .single_sercives_icon {
    border: 1px solid #E7B02D;
    border-radius: 50%;
    height: 100px;
    margin-bottom: 30px;
    margin-left: 30%;
    position: relative;
    width: 100px;
  }
  .single_sercives_icon i {
    color: #E7B02D;
    font-size: 12px;
    padding-top: 22%;
  }
  .single_sercives_icon::after {
    background: #E7B02D none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(0);
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    width: 100%;
  }
  .single_sercives:hover .single_sercives_icon i{
    color:#fff;
  }
  .single_sercives:hover .single_sercives_icon:after{
    transform: scale(1);
    z-index:-1;
  }
  .block-title a h4 {
    color: #000;
    margin-bottom: 10px;
  }
  .block-title a h4:hover {
    color: #E7B02D;
  }
}
