<footer>

   <div class="row">

      <div class="six columns info">

         <div class="footer-logo">
            <a href="#">
               <img src="images/footer-logo.png" alt="" />
            </a>
         </div>

         <p>FastQ is revolutionary in its ability to access thousands of different organisations that utilise this queuing system. The application assists you, whether you’re a business or a customer, giving you an invaluable tool that will help eliminate wasted time and ultimately increase efficiency and productivity.
         </p>

      </div>

      <div class="six columns right-cols">

         <div class="row">

            <div class="columns">
               <h3 class="address">Come Visit</h3>
               <p>
               Block 3730, Persiaran APEC,<br>
               63000 Cyberjaya, Malaysia.<br>
               </p>
            </div>

            <div class="columns">
               <h3 class="social">socialize</h3>
               <ul>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">GooglePlus</a></li>
               </ul>
            </div>

            <div class="columns last">
               <h3 class="contact">Contact Us</h3>
               <ul>
                 <li><a href="tel:60383244800">60.3.8324.4800</a></li>
                 <li><a href="mailto:admin@fastq.com">admin@fastq.com</a></li>
               </ul>
            </div>

         </div> <!-- Nested Row End -->

      </div>

      <p class="copyright">&copy; All Rights Reserved © 2016 FastQ</p>

      <div id="go-top">
         <a class="smoothscroll" title="Back to Top" href="#hero"><i class="icon-up-open"></i></a>
      </div>

   </div> <!-- Row End -->

</footer> <!-- Footer End-->
