<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 right-border">
        <div class="footer-about">
          <h2 class="footer-title">About Us</h2>
          <p>Fast Q help you to elimate waiting in line. We are a mobile queue management system for you to book tickets and queuing spots in different service provider and its office branches/locations. This is also ideal for company to create returning and loyal customers, our queue management system that empowers their business and will significantly improve their customer satisfaction and staff performance.</p>
        </div>
        <div class="copyright hidden-sm hidden-xs">
          <p>Copyrights &copy; 2016 FAST Q Sdn. Bhd. All Right Reserved.</p>

        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="col-md-6 col-sm-6">
          <div class="contact-info">
            <h2 class="footer-title">Contact Info</h2>
            <div class="single">
              <i class="fa fa-map-marker"></i>
              <p>Block 3730, Persiaran APEC,<br>
                63000 Cyberjaya, Malaysia</p>
              </div>
              <div class="single">
                <i class="fa fa-phone"></i>
                <p>+603 8324 4800</p>
              </div>

              <div class="single">
                <i class="fa fa-envelope"></i>
                <p>info@fastq.com</p>
              </div>

              <div class="social-icon">
                <ul class="list-inline">
                  <li><a href="http://www.facebook.com/" title=""><i class="fa fa-facebook"></i></a></li>
                  <li><a href="http://www.twitter.com/" title=""><i class="fa fa-twitter"></i></a></li>
                  <li><a href="http://www.instagram.com/" title=""><i class="fa fa-instagram"></i></a></li>
                  <li><a href="http://www.linkedin.com/" title=""><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 left-border">
            <div class="navigation">
              <h2 class="footer-title">Navigation</h2>
              <ul class="list-unstyled">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Offices", offices_path %></li>
                <li><%= link_to "Contact Us", "/about#CONTACT" %></li>
              </ul>
            </div>
          </div>

          <div class="clearfix"></div>
          <div class="copyright visible-sm visible-xs">
            <p>Copyrights &copy; 2016 Fast Q Sdn. Bhd. All Right Reserved.</p>
            <p>Developed By : Kingsley Tan, Nicholas Yap, Arwen Goh</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
