<!-- <footer>
  <section class="contact-icon contact_section_padding">
		<div class="container">
			<div class="row">
				<div class="social_icon text-center">
					<a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
					<a href="www.twitter.com"><i class="fa fa-twitter"></i></a>
					<a href="www.google.com"><i class="fa fa-google-plus"></i></a>
					<a href="www.dribbble.com"><i class="fa fa-dribbble"></i></a>
					<a href="www.youtube.com"><i class="fa fa-youtube"></i></a>
					<a href="www.linkedin.com"><i class="fa fa-linkedin"></i></a>
				</div>
			</div>
		</div>
	</section>
  <div class="container">
    <div class="row">
      <div class="footer_copyright">
        <p>&copy;2016 RAKIB IS PROUDLY POWERED BY <a href="http://devitems.com/author/rakib9382/">RAKIB</a>.</p>
        <a href="#"><img src="images/logo.png" alt="" /></a>
        <script src="js/jquery.scrollUp.js"></script>
      </div>
    </div>
  </div>
</footer>
 -->


<footer>
   <div class="footer">
      <div class="info">
         <p>FastQ is revolutionary in its ability to access thousands of different organisations that utilise this queuing system. The application assists you, whether you’re a business or a customer, giving you an invaluable tool that will help eliminate wasted time and ultimately increase efficiency and productivity.
         </p>
      </div>

      <div class="features text-center">
            <div class="feature">
               <h3 class="address">Come Visit</h3>
               <p>
               Block 3730, Persiaran APEC,<br>
               63000 Cyberjaya, Malaysia.<br>
               </p>
            </div>

            <div class="feature">
               <h3 class="social">socialize</h3>
               <ul>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">GooglePlus</a></li>
               </ul>
            </div>

            <div class="feature">
               <h3 class="contact">Contact Us</h3>
               <ul>
                 <li><a href="tel:60383244800">60.3.8324.4800</a></li>
                 <li><a href="mailto:admin@fastq.com">admin@fastq.com</a></li>
               </ul>
            </div>
      </div>

      <div class="copyright">
        <p>&copy; All Rights Reserved © 2016 FastQ</p>
      </div>  -->

      <!-- <div id="go-top">
         <a class="smoothscroll" title="Back to Top" href="#hero"><i class="icon-up-open"></i></a>
      </div> -->

   <!-- </div>
</footer> -->
